body {
    margin: 0 0 auto;
    overflow: hidden;
    background-color: black;
    color: white;
}

canvas#defaultCanvas0 {
    max-height: 100vh;
    max-width: 100vw;
    overflow: hidden;
    position: fixed;
}

#sidebar {
    position: fixed;
    float: left;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.3);
    padding: 40px 20px;
    z-index: 1000;
    transition: all 0.3s ease;
    width: 200px;
    height: 100vh;
    overflow: scroll
}

.menu{
    position: fixed;
    width: 36px !important;
    height: 36px;
    top: -5px;
    left: 0px;
}

#sidebar.collapsed {
    /* width: 50px; */
    overflow: hidden;
    left: -240px;
}

#sidebar button {
    margin: 5px 0;
    padding: 5px 10px;
    background: #333;
    color: white;
    border: none;
    border-radius: 0px;
    cursor: pointer;
    width: 100%;
}

#sidebar button:hover {
    background: #555;
}

#sidebar label {
    display: block;
    margin-top: 10px;
    font-family: Arial, sans-serif;
    font-size: 14px;
}

#sidebar input[type="range"] {
    width: 100%;
    margin: 5px 0;
}

#sidebar input[type="color"] {
    width: 100%;
    height: 30px;
    margin: 5px 0;
}

#qualityValue {
    text-align: center;
    font-weight: bold;
    margin: 5px 0 15px 0;
    font-family: Arial, sans-serif;
    font-size: 16px;
}

#canvas-container {
    margin-left: 0;
    transition: margin-left 0.3s ease;
}

#canvas-container.collapsed {
    margin-left: 50px;
}

div#menuModal {
    background: rgba(255, 255, 255, 0.8) !important;
}

#menuModal h2 {
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 21px;
    font-weight: 400;
}

#menuModal label {
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
}

#menuModal input {
    width: 100%;
    height: 43px;
}

#menuModal select {
    width: 100%;
    height: 50px;
}

#menuModal button {
    width: 100%;
    height: 50px;
    background: black;
    color: white;
    margin-bottom: 10px !important;
}

button#menuButton {
    height: 48px !important;
    margin: 0px !important;
    padding: 0px !important;
    line-height: 1px;
    top: -14px !important;
}
