<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- <link rel="icon" href="{{ "./favicon.png" | relative_url }}" type="image/x-icon"> -->
  <script src="{{ "/assets/jquery-3.6.3.min.js" | relative_url }}"></script>
  <script src="{{ "/assets/jquery-ui.min.js" | relative_url }}"></script>
  <script src="{{ "/assets/jquery.ui.touch-punch.min.js" | relative_url }}"></script>
  <title>{{ site.title }}</title>
  <link rel="stylesheet" href="{{ "/assets/fonts/css/ibm-plex.min.css" | relative_url }}">
  <link rel="stylesheet" href="{{ "/assets/main.css" | relative_url }}">
  {%- feed_meta -%}
  <!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-31X1TYL0TS"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-31X1TYL0TS');
</script>
</head>
