//  ------------------------------------------
//  VARIABLES
//  ------------------------------------------

:root {
  --color-primary: #ffffff;
  --color-secondary: #ffffff;
  --color-tertiary: #ffffff;
  --font-size-s: 12px;
  --font-size-m: 16px;
  --font-size-l: 21px;
  --margin: 30px;
  --margin-top: 60px;
}

  main{
  // position: fixed !important;
  top: 0px;
  z-index: -1;
  overflow:hidden;
  z-index: -2;
  }

//  ------------------------------------------
//  PRELOADER
//  ------------------------------------------

  #preloader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 9999;
    padding: var(--margin);
    background-color: white;
  }
  @keyframes blink {
    50% {
      opacity: 0;
    }
  }
  
  .cargando {
    animation: blink .2s linear infinite;
    width: 10px;
    margin-left:3px;
    background-color: var(--color-primary);
    position: absolute;
  }
//  ------------------------------------------
//  FONT
//  ------------------------------------------

// @import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400&display=swap');

  :root { font-family: 'IBM Plex Sans', sans-serif; font-weight: 400;}
@supports (font-variation-settings: normal) {
  :root { font-family: 'IBM Plex Sans', sans-serif;}
}

//  ------------------------------------------
//  BODY
//  ------------------------------------------

body {
  margin: 0 auto;
  background-color: var(--color-tertiary);
  // font-family: "Uncut Sans", sans-serif;
  line-height: 1.4;
  // min-height: 100vh;
  font-size: var(--font-size-m);
  background-size: cover;
  background-position: center center;
  padding-top: var(--margin-top);
  // min-height: 100vh;
  
  @media only screen and (max-width: 1400px) {}

  @media only screen and (max-width: 992px) {}

  @media only screen and (max-width: 768px) {}
}

h1{
  font-size: var(--font-size-l);
  font-family: 'IBM Plex Sans', sans-serif; font-weight: 400;
}

/*  ------------------------------------------
    GRID
------------------------------------------ */

.container {
  display: grid;
  grid-template-columns: 1fr minmax(0, 900px) 300px;
  grid-template-rows: auto 1fr auto;
  grid-template-areas:
    "header header menu"
    "main main menu"
    "footer footer footer";
  padding: 0;
  color: var(--color-primary);
}

.header {
  grid-area: header;
  padding: var(--margin);
}

.main {
  grid-area: main;
  display: flex;
  flex-direction: column;
}

.full-column {
  grid-column: span 2; /* Esta columna abarca dos columnas del grid */
  padding: var(--margin);
  max-width: 1024px;
}

.footer {
  grid-area: footer;
  padding: var(--margin);
}

.menu {
  grid-area: menu;
  position: fixed;
  top: 0;
  right: 0px;
  background-color: var(--color-accent);
  padding: var(--margin);
}

//  ------------------------------------------
//  MENU
//  ------------------------------------------
header{
  ul{
    list-style: none;
    margin: 0px;
    padding-left: 0px;
    padding-top: var(--margin-top);
    li{
      float: none;
      padding: 3px 0px;
      text-align: right;
      font-size: var(--font-size-l);
      a{
        text-decoration: none;
      }
    }
  }
}

//  ------------------------------------------
//  GENERAL
//  ------------------------------------------

 a{
  color: var(--color-primary);
  text-decoration: line-through;
  &:hover{
    text-decoration: none;
  }
}

//  ------------------------------------------
//  POST
//  ------------------------------------------

.filtered {
    position: fixed;
    opacity: 0;
      border: 1px solid var(--color-primary);
      border-radius: 8px;
      overflow: hidden;
  img.post-image {
    width: auto;
    padding: 0px;
      margin: 0px;
    max-height: 20vh;
    max-width: 30vw;
    margin-bottom: -5px;
  //   mix-blend-mode: screen;
  // -webkit-filter: grayscale(100%) contrast(200%);
  // filter: grayscale(100%) contrast(200%);
  }
}
.post-link{
  text-decoration: none;
  color: var(--color-primary);
  &:hover{
    text-decoration: line-through;
    .filtered {
      opacity: 1;
    }
  }
  display: -webkit-box;
}

ul.post-list{
  list-style: none;
  padding-left: 0px;
  li{
    padding:3px 0px;
    border-top: 1px solid var(--color-primary);
    span.post-date{
      margin-left: 13px;
      float: right;
    }
    span.post-tags{
      float: right;
    }
  }
}

p.nav-categorias{
  a{
    text-decoration: none;
    margin-right: 5px;
    &.active{
      text-decoration: line-through;
    }
    &:hover{
      text-decoration: line-through;
    }
  }
}
.main-content {
  .canvas{
    z-index: -1;
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0px;
    top: 0px;
  }
  margin-top: var(--margin);
  .images-content {
    // position: fixed;
    // top: 0px;
    // left: 0px;
    // width: 100%;
    // height: 100%;

    p{
      float: left;
      width: 100%;
    }

    .image-wrap{
      // position: absolute;
      // display: none;
      float: left;
      border: 1px solid var(--color-primary);
      border-radius: 8px 8px 0 0;
      margin-bottom: 30px;

      .wrap-header{
        height: var(--margin);
        border-bottom: 1px solid var(--color-primary);
        width: 100%;
        background-color: var(--color-tertiary);
        border-radius: 8px 8px 0 0;
      }
     
      img{
        // margin-left: calc(-50vw + var(--margin));
        // width: calc(100vw - var(--margin)*2);
        float: left;
        max-width: 100%;
        max-height: 70vh;
        // margin-top: var(--margin);
        }
        video{
        max-width: 100%;
        max-height: 70vh;
        float: left;
        }
        .num-consecutivo {
          position: absolute;
          top: 0;
          line-height: var(--margin);
          right: 10px;
          font-size: var(--font-size-s);
      }
      }
  }
}

//  ------------------------------------------
//  FOOTER
//  ------------------------------------------

footer{
  span.copyleft{
    display:inline-block;
  transform: rotate(180deg);
}
}

@media only screen and (max-width: 768px) {
  .container {
    flex-direction: column;
    display: flex;
    padding: 1vh;
}
.container .item:nth-child(1) {
  grid-area: header;
  padding: 0vh;
}
.container .item:nth-child(2) {
  grid-area: main;
  padding: 0px;
}
header ul li {
  float: none;
  padding: 0px 10px 0px 0px;
  width: min-content;
}
ul.post-list li {
  // padding: 5px 0px;
  // border-top: 1px solid var(--color-primary);
  float: left;
  width: 100%;
}
.post-link {
  text-decoration: none;
  color: var(--color-primary);
  float: left;
  width: 100%;
  margin-bottom: 3px;
}
ul.post-list li span.post-tags {
  float: left;
}

.main-content .images-content .image-wrap img, .main-content .images-content .image-wrap video, .main-content .images-content .image-wrap iframe{
  max-width: 85vw !important;
  max-height: 60vh;
  background-color: #ffffff;
  }
  p.nav-categorias a {
    text-decoration: none;
    margin-right: 5px;
    float: right;
    width: -webkit-fill-available;
}
p.nav-categorias {
  float: left;
  margin-top: 0px !important;

}
header.item {
  margin-bottom: 30px;
}

ul.post-list li span.post-date {
  margin-left: 0px;
  float: right;
  margin-right: 0px;
}

.menu.item {
  // position: relative;
  // float: left;
  position: absolute;
  left: 8px;
  top: -10px;
}
header ul {
  list-style: none;
  margin: 0px;
  padding-left: 0px;
  padding-top: 0px;
}
.multi-column {
  column-count: 1 !important;
  // column-gap: 20px;
}

h1.page-heading {
  margin: 0px;
  margin-bottom: calc(var(--margin-top)) !important;
  margin-top: calc(var(--margin-top)* 2) !important;
}
.main-content {
  margin-top: calc(var(--margin-top)* 2) !important;
}
ul.post-list {
  grid-template-columns: auto !important;
  gap: 0rem;
}
.row {
  display: block !important;
  margin-bottom: 20px;
  float: left;
  gap: 20px;
}
.row .column:first-child {
  margin-bottom: 20px;
}
.row .column:first-child {
  position: static !important;
}
}

.main-content-home p {
  font-size: var(--font-size-l);
}

.image-wrapper img {
  margin-bottom: -6px !important;
  object-fit: contain !important;
}
.multi-column {
  column-count: 2; /* Número de columnas */
  column-gap: 20px; /* Espaciado entre columnas */
}

.multi-column p{
margin-block-start: 0em;
margin-block-end: 1em;
}

h1.page-heading{
  margin: 0px;
  margin-bottom: calc(var(--margin-top)*2);
}

ul.post-list {
  display: grid;
  grid-template-columns: repeat(2, calc(50% - 1rem)); /* 50% del ancho menos la mitad del gap */
  gap: 2rem; /* Espacio entre filas y columnas */
  list-style: none;
  padding: 0;
  margin: 0;
}

ul.post-list li {
  padding: 0px;
  border-top: 0px solid var(--color-primary);
  float: left;
  width: 100%;
}


/* Ajustes cuando está en pantalla completa */
.image-wrap:fullscreen,
.image-wrap:-webkit-full-screen,
.image-wrap:-moz-full-screen {
    display: block;
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
}

.fullscreen-btn {
  position: absolute;
  bottom: 10px;
  right: 10px;
  padding: 5px 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  font-size: 12px;
}

.fullscreen-btn:hover {
  background-color: #0056b3;
}
